.form_wrapper{
	height: 800px;
	background-image: url(/images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form_wrapper .overlay{
	background: rgba(0, 0, 0, 0.7);
	height: 800px;
}
.form{
	width: 100%;
	height: 600px;
	margin-bottom: 10px;
	text-align: center;
	box-sizing: border-box;
}

input{
	width: 28%;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0px 20px;
	border: 1px solid #177bbb;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	background-color: #c4c4b8;
	color: black;
}
/*form part end*/
textarea{
	width: 28%;
	height: 80px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 16px 20px 0px 20px;
	border: 1px solid #177bbb;
	color: #177bbb;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	resize: none;
	border-radius: 5px;
	background-color: #c4c4b8;
}
.form_3rd_row_left_clm input{
	width: 28%;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0px 20px;
	border: 1px solid #177bbb;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	background: #415E9B;
	cursor: pointer;
}
.form_3rd_row_right_clm input{
	width: 28%;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0px 20px;
	border: 1px solid #177bbb;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	background: #4e714e;
	cursor: pointer;
}
